In [2]:
import sys
sys.path.append('/Users/michele/code/micheledeantoni/APP/back-end/' )
from player_profiling import preprocessor, utils
import pandas as pd
import numpy as np

In [3]:
data =  preprocessor.load_all_data()

In [40]:
data[data['player_positions']== 'GK'].head()

,player_id,player_url,fifa_version,fifa_update,fifa_update_date,short_name,long_name,player_positions,overall,potential,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,player_face_url
5,192119,/player/192119/thibaut-courtois/230009,23,9,2023-01-13,T. Courtois,Thibaut Nicolas Marc Courtois,GK,90,91,...,31+3,31+3,29+3,29+3,29+3,29+3,29+3,29+3,87+3,https://cdn.sofifa.net/players/192/119/23_120.png
7,167495,/player/167495/manuel-neuer/230009,23,9,2023-01-13,M. Neuer,Manuel Peter Neuer,GK,89,89,...,43+3,43+3,36+3,34+3,34+3,34+3,34+3,34+3,87+2,https://cdn.sofifa.net/players/167/495/23_120.png
10,200389,/player/200389/jan-oblak/230009,23,9,2023-01-13,J. Oblak,Jan Oblak,GK,89,90,...,38+3,38+3,33+3,32+3,34+3,34+3,34+3,32+3,87+3,https://cdn.sofifa.net/players/200/389/23_120.png
14,210257,/player/210257/ederson-santana-de-moraes/230009,23,9,2023-01-13,Ederson,Ederson Santana de Moraes,GK,89,91,...,44+3,44+3,37+3,36+3,35+3,35+3,35+3,36+3,87+3,https://cdn.sofifa.net/players/210/257/23_120.png
16,212831,/player/212831/alisson-ramses-becker/230009,23,9,2023-01-13,Alisson,Alisson Ramsés Becker,GK,89,90,...,39+3,39+3,33+3,32+3,32+3,32+3,32+3,32+3,87+3,https://cdn.sofifa.net/players/212/831/23_120.png

In [44]:
import pandas as pd

# Assuming your DataFrame is named 'df'
# Replace 'df' with the actual name of your DataFrame

# Calculate the percentage of missing values for each column
missing_percentage = data.isnull().mean() * 100

# Create a DataFrame with column names and their respective missing percentages
missing_info = pd.DataFrame({'Column': missing_percentage.index, 'Missing Percentage': missing_percentage.values})

filtered_missing_info = missing_info[missing_info['Missing Percentage'] > 0.3]
filtered_missing_info

                            Column  Missing Percentage
10                       value_eur            0.774073
11                        wage_eur            0.724071
16                       league_id            0.724071
17                     league_name            0.724071
18                    league_level            0.724071
19                    club_team_id            0.724071
20                       club_name            0.724071
21                   club_position            0.724071
22              club_jersey_number            0.724071
23                club_loaned_from           93.380622
24                club_joined_date            7.343449
25  club_contract_valid_until_year            0.724071
28                  nation_team_id           95.085627
29                 nation_position           95.085627
30            nation_jersey_number           95.085627
38              release_clause_eur            7.393451
39                     player_tags           92.838054
40                   player_traits           49.901681
41                            pace           11.049624
42                        shooting           11.049624
43                         passing           11.049624
44                       dribbling           11.049624
45                       defending           11.049624
46                          physic           11.049624
81               goalkeeping_speed           88.950376

In [4]:
labelled_players =  pd.read_csv('/Users/michele/code/micheledeantoni/APP/back-end/raw_data/labelled_data_v1.csv')[['long_name', 'label']]

In [5]:
labelled_players[labelled_players['label'] == 31 ]

                            long_name  label
0      Lionel Andrés Messi Cuccittini     31
1                       Karim Benzema     31
2                  Robert Lewandowski     31
4                Kylian Mbappé Lottin     31
6                 Mohamed Salah Ghaly     31
...                               ...    ...
19941       Horacio Gabriel Carabajal     31
19942       Tomás Alejandro Chancalay     31
19948               Aleksandr Kokorin     31
19954                Achraf Bencharki     31
20042                   Bassem Srarfi     31

[661 rows x 2 columns]

In [6]:
merged_data = pd.merge(data, labelled_players, on='long_name', how='left')

In [15]:
a_cluster = merged_data[merged_data['label'] == 31]

In [32]:
a_cluster =  a_cluster[['fifa_version','short_name','overall']]

In [34]:
agg_df = a_cluster.groupby(['short_name', 'fifa_version']).max().reset_index()

In [36]:
agg_df[agg_df['short_name']== 'Á. Di María']

       short_name  fifa_version  overall
1875  Á. Di María            21       87
1876  Á. Di María            22       87
1877  Á. Di María            23       84

# 1) Preprocess the Data by Stationarizing:
Stationarity is often a prerequisite for time series modeling like ARIMA. You can use techniques like differencing to make your data more stationary. If your data is sampled yearly, you might start with first-order differencing:

In [37]:
import pandas as pd

# Assuming 'your_data' is your DataFrame with a 'year' column and other relevant features
your_data['stationary_column'] = your_data['your_target_column'].diff()

# Drop NaN values resulting from differencing
your_data = your_data.dropna()

NameError: name 'your_data' is not defined

# 2) Perform PACF and ACF for p and q values:
Partial Autocorrelation Function (PACF) and Autocorrelation Function (ACF) plots can help you determine the order of autoregressive (p) and moving average (q) terms in your ARIMA model. You can use the plot_acf and plot_pacf functions from the statsmodels library:

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt

# Plot ACF
plot_acf(your_data['stationary_column'], lags=20)
plt.show()

# Plot PACF
plot_pacf(your_data['stationary_column'], lags=20)
plt.show()

# 3) Apply an ARIMA:
Once you have an idea of p and q, you can fit an ARIMA model. For example, if p=1, d=1, and q=1:

In [ ]:
from statsmodels.tsa.arima.model import ARIMA

# Fit ARIMA model
model = ARIMA(your_data['stationary_column'], order=(1, 1, 1))
results = model.fit()

# Print summary
print(results.summary())

# 4) Predict:
Finally, you can use the fitted model to make predictions. Since you're interested in predicting values for the next year, you can forecast one step ahead:

In [ ]:
# Forecast one step ahead
forecast_steps = 1
forecast = results.get_forecast(steps=forecast_steps)
predicted_values = forecast.predicted_mean